<div class="form-container">
  <div class="relative mt-10">
    <div class="absolute inset-0 flex items-center" aria-hidden="true">
      <div class="w-full border-t border-gray-200"></div>
    </div>
    <div class="relative flex justify-center text-sm font-bold leading-6">
      <span class="bg-neutral-900 px-6 text-gray-200">Or Login With Email</span>
    </div>
  </div>

  <div class="form-container">
    <%= form_with class: "form-with", url: rodauth.email_auth_request_path, method: :post, data: { turbo: false } do |form| %>
      <%= form.hidden_field rodauth.login_param, value: params[rodauth.login_param] %>

      <div class="form-group">
        <%= form.submit rodauth.email_auth_request_button, class: "form-submit" %>
      </div>
    <% end %>
  </div>
</div>