<div class="header-container">
  <h2 class="header-title">Change Email</h2>
  <p class="header-subtitle">Not your device? Use a private or incognito window to change your email.</p>
</div>
<div class="form-container">
  <%= form_with url: rodauth.change_login_path, class: "form-with", method: :post, data: { turbo: false } do |form| %>
    <div>
      <%= form.label "login", "Email", class: "form-label" %>
      <div class="form-group">
        <%= form.email_field rodauth.login_param, value: params[rodauth.login_param], placeholder: "Email", id: "login", autocomplete: "email", required: true, class: "form-control #{"is-invalid" if rodauth.field_error(rodauth.login_param)}", aria: ({ invalid: true, describedby: "login_error_message" } if rodauth.field_error(rodauth.login_param)) %>
        <%= content_tag(:span, rodauth.field_error(rodauth.login_param), class: "invalid-feedback", id: "login_error_message") if rodauth.field_error(rodauth.login_param) %>
      </div>
    </div>

    <% if rodauth.require_login_confirmation? %>
      <div>
        <%= form.label "login-confirm", rodauth.login_confirm_label, class: "form-label" %>
        <div class="form-group">
          <%= form.email_field rodauth.login_confirm_param, value: params[rodauth.login_confirm_param], placeholder: "Confirm Email", id: "login-confirm", autocomplete: "email", required: true, class: "form-control #{"is-invalid" if rodauth.field_error(rodauth.login_confirm_param)}", aria: ({ invalid: true, describedby: "login-confirm_error_message" } if rodauth.field_error(rodauth.login_confirm_param)) %>
          <%= content_tag(:span, rodauth.field_error(rodauth.login_confirm_param), class: "invalid-feedback", id: "login-confirm_error_message") if rodauth.field_error(rodauth.login_confirm_param) %>
        </div>
      </div>
    <% end %>

    <% if rodauth.change_login_requires_password? %>
      <div>
        <%= form.label "password", rodauth.password_label, class: "form-label" %>
        <div class="form-group">
          <%= form.password_field rodauth.password_param, value: "", placeholder: "Password", id: "password", autocomplete: rodauth.password_field_autocomplete_value, required: true, class: "form-control #{"is-invalid" if rodauth.field_error(rodauth.password_param)}", aria: ({ invalid: true, describedby: "password_error_message" } if rodauth.field_error(rodauth.password_param)) %>
          <%= content_tag(:span, rodauth.field_error(rodauth.password_param), class: "invalid-feedback", id: "password_error_message") if rodauth.field_error(rodauth.password_param) %>
        </div>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.submit rodauth.change_login_button, class: "form-submit" %>
    </div>
  <% end %>
</div>