<div class="header-container">
  <h2 class="header-title">Setup MFA</h2>
  <!--  <p class="header-subtitle">Not your device? Use a private or incognito window to setup multifactor authentication.</p>-->
  <p class="header-subtitle">Input the provided secret key or scan the QR code in a one time passcode app such as Authy
    or Authenticator and provide your password and your six-digit OTP key below. </p>
</div>

<div class="form-container">
  <%= form_with url: rodauth.otp_setup_path, class: "form-with", method: :post, data: { turbo: false } do |form| %>
    <%= form.hidden_field rodauth.otp_setup_param, value: rodauth.otp_user_key, id: "otp-key" %>
    <%= form.hidden_field rodauth.otp_setup_raw_param, value: rodauth.otp_key, id: "otp-hmac-secret" if rodauth.otp_keys_use_hmac? %>

    <div class="form-group">
      <div class="mt-6 border-t border-white/10">
        <dl class="divide-y divide-white/10">
          <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
            <dt class="text-md font-bold leading-6 text-white">Secret Key</dt>
            <dd id="otp-secret" class="mt-2 text-md leading-6 text-gray-400 sm:col-span-2 sm:mt-0   ">
              <p><%== rodauth.otp_user_key %></p>
            </dd>
          </div>
          <!--          <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">-->
          <!--            <dt class="text-sm font-medium leading-6 text-white">URL</dt>-->
          <!--            <dd class="mt-1 break-all text-sm leading-6 text-gray-400 sm:col-span-2 sm:mt-0">-->
          <%#= rodauth.otp_provisioning_uri %>
          <!--            </dd>-->
          <!--          </div>-->
        </dl>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-lg">
        <div class="form-group">
          <p><%== rodauth.otp_qr_code %></p>
        </div>
      </div>

      <div class=" mt-2 col-lg-6 col-lg">
        <% if rodauth.two_factor_modifications_require_password? %>
          <div>
            <div class="form-group">
              <%= form.label "password", rodauth.password_label, class: "form-label" %>
              <%= form.password_field rodauth.password_param, value: "", placeholder: "Password", id: "password", autocomplete: rodauth.password_field_autocomplete_value, required: true, class: "form-control #{"is-invalid" if rodauth.field_error(rodauth.password_param)}", aria: ({ invalid: true, describedby: "password_error_message" } if rodauth.field_error(rodauth.password_param)) %>
              <%= content_tag(:span, rodauth.field_error(rodauth.password_param), class: "invalid-feedback", id: "password_error_message") if rodauth.field_error(rodauth.password_param) %>
            </div>
          </div>
        <% end %>

        <div class="form-group">
          <%= form.label "otp-auth-code", rodauth.otp_auth_label, class: "form-label" %>
          <div class="row">
            <div class="col-sm-3">
              <%= form.text_field rodauth.otp_auth_param, value: "", placeholder: "OTP", id: "otp-auth-code", autocomplete: "off", inputmode: "numeric", required: true, class: "form-control #{"is-invalid" if rodauth.field_error(rodauth.otp_auth_param)}", aria: ({ invalid: true, describedby: "otp-auth-code_error_message" } if rodauth.field_error(rodauth.otp_auth_param)) %>
              <%= content_tag(:span, rodauth.field_error(rodauth.otp_auth_param), class: "invalid-feedback", id: "otp-auth-code_error_message") if rodauth.field_error(rodauth.otp_auth_param) %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <%= form.submit rodauth.otp_setup_button, class: "form-submit" %>
        </div>
      </div>
    </div>
  <% end %>
</div>