<div class="form-container">
  <%= form_with url: rodauth.recovery_auth_path, class: "form-with", method: :post, data: { turbo: false } do |form| %>
    <div>
      <%= form.label "recovery-code", rodauth.recovery_codes_label, class: "form-label" %>
    <div class="form-group">
    <%= form.text_field rodauth.recovery_codes_param, value: "", placeholder: "Recovery Code", id: "recovery-code", autocomplete: "off", required: true, class: "form-control #{"is-invalid" if rodauth.field_error(rodauth.recovery_codes_param)}", aria: ({ invalid: true, describedby: "recovery-code_error_message" } if rodauth.field_error(rodauth.recovery_codes_param)) %>
      <%= content_tag(:span, rodauth.field_error(rodauth.recovery_codes_param), class: "invalid-feedback", id: "recovery-code_error_message") if rodauth.field_error(rodauth.recovery_codes_param) %>
    </div>
    </div>

    <div class="form-group">
      <%= form.submit rodauth.recovery_auth_button, class: "form-submit" %>
    </div>
  <% end %>
</div>
