<div class="form-container">
  <%= form_with url: rodauth.two_factor_disable_path, class: "form-with", method: :post, data: { turbo: false } do |form| %>
    <% if rodauth.two_factor_modifications_require_password? %>
      <div>
        <%= form.label "password", rodauth.password_label, class: "form-label" %>
        <div class="form-group">
          <%= form.password_field rodauth.password_param, value: "", placeholder: "Password",id: "password", autocomplete: rodauth.password_field_autocomplete_value, required: true, class: "form-control #{"is-invalid" if rodauth.field_error(rodauth.password_param)}", aria: ({ invalid: true, describedby: "password_error_message" } if rodauth.field_error(rodauth.password_param)) %>
          <%= content_tag(:span, rodauth.field_error(rodauth.password_param), class: "invalid-feedback", id: "password_error_message") if rodauth.field_error(rodauth.password_param) %>
        </div>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.submit rodauth.two_factor_disable_button, class: "form-submit" %>
    </div>
  <% end %>
</div>