<div class="form-container">
<%= form_with url: rodauth.verify_login_change_path, class: "form-with", method: :post, data: { turbo: false } do |form| %>
  <div class="form-group">
    <%= form.submit rodauth.verify_login_change_button, class: "form-submit" %>
  </div>
<% end %>
</div>